<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="Account" value="root"/>
    <add key="Password" value="00000000"/>

    <!--(PROD正式區,TEST正式區資料 測試參數,QA測試區資料) TEST , QA環境時 寄出的mailTo為Admin , CC and BCC為Empty-->
    <add key="Environment" value="QA"/>
    
    <!--Exception和QA環境時 寄出的mail Address-->
    <add key="Admin" value="Second.Chen;Timi.Zeng"/>


    <!--Exception和QA環境時 寄出的mail Address-->
    <add key="IPAddress" value="10.248.72.201"/>



  </appSettings>
    
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <WindowsFormsApp2.Properties.Settings>
      <setting name="WindowsFormsApp2_PublicWebService_WebService"
        serializeAs="String">
        <value>http://bvtwoma1/Public_WS/WebService.asmx</value>
      </setting>
    </WindowsFormsApp2.Properties.Settings>
  </applicationSettings>
</configuration>